<EditForm Model="@userDetail" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Name: </label>
            <div>
                <InputText @bind-Value="userDetail.UserName" class="form-control" />
                <ValidationMessage For="@(() => userDetail.UserName)" />
            </div>
        </div>
        <div class="form-group">
            <label>Email: </label>
            <div>
                <InputText @bind-Value="userDetail.UserEmail" class="form-control" />
                <ValidationMessage For="@(() => userDetail.UserEmail)" />
            </div>
        </div>
        <div class="form-group">
            <label>Number: </label>
            <div>
                <InputNumber @bind-Value="userDetail.UserNo" class="form-control" />
                <ValidationMessage For="@(() => userDetail.UserNo)" />
            </div>
        </div>

    </fieldset>
    
    @if (!Disabled)
     {
         <button type="submit" class="btn btn-success btn-block">
             @ButtonText
         </button>
     }


    <button type="submit" class="btn btn-success btn-block">
        @ButtonText
    </button>
    <BackToList Target="userDetails" />

</EditForm>

@code {
    [Parameter] public UserDetails userDetail { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
