@model JobDex.Shared.Domain.Jobs

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Jobs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobVacancy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobVacancy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobDesc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobDesc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JobIndusty)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JobIndusty)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UpdatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UpdatedBy)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
